<!-- <div id="wrapper" class="container">
<figure class="page-head-image">
    <img src="https://image.freepik.com/free-vector/doctor-background-design_1270-62.jpg" width="100" height="100"/>
</figure>
</div>   -->


<!-- <form class="adminlogin" (submit)="loginUser($event)">
  <table>
    <tr>
      <td>
        Name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </td>
      <td>
        <input type="text">
      </td>
    </tr>
    <tr>
      <td>
        Password: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </td>
      <td>
        <input type="password">
      </td>
    </tr>
    <tr>
      <td align=right>
        <br>  <button type="reset" class="btn btn-warning">Reset</button>
      </td>
      <td align=center>
        <br>  <button type="submit" class="btn btn-success">Sign in</button>
      </td>
    </tr>
  </table>
  
  

</form>  -->

<br> <br><br><br>
<form class="adminlogin" (submit)="loginUser($event)">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-heading">
      <h2 class="text-center">Login</h2>
    </div>
    <hr />
    <div class="modal-body">
      
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
            </span>
            <input type="text" class="form-control" placeholder="User Name" />
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">
            <span class="glyphicon glyphicon-eye-open"></span>
            </span>
            <input type="password" class="form-control" placeholder="Password" />

          </div>

        </div>

        <div class="form-group text-center">
          <button type="submit" class="btn btn-success btn-lg">Login</button>
        </div>

      
    </div>
  </div>
</div>
</form>