

<article class="main">
  <h2>Touching Lives with Cutting-Edge Cardiac Care</h2>
      <ul>
        <li>Largest series of aortic valve replacements with stentless heart valve bioprosthesis</li>
        <li>First Bridge to Heart transplant in India</li>
        <li>First Double-lung transplant for Hermansky-Pudlak syndrome in India</li>
        <li>Combined heart and lung transplant on oldest recipient in India</li>
        <li>First successful emergency heart transplant in India</li>
      </ul>
  </article>
  
  <aside class="aside">
      
          <table border="" align="center" cellspacing="10" cellpadding="10">
              <tr align="center">
                <td><a href="#">Search New Laptops</a></td>
                <td colspan="2"><p style="color: red;">Ads by Google</p></td>
              </tr>
              <tr align="center">
                <td><a href="#">Love books? Check this out</a></td>
                <td rowspan="5" colspan="2"><img alt="test" src="./assets/pixel.jpg" height="220px" width="280px"></td>
              </tr>
              <tr align="center">
                <td><a href="#">Home Appliances</a></td>
              </tr>
              <tr align="center">
                <td><a href="#">Clotings</a></td>
              </tr>
              <tr align="center">
                <td><a href="#">Classic watch, for classic people</a></td>
              </tr>
              <tr align="center">
                <td><a href="#">Get upto 100% cashback on products*</a></td>
              </tr>
          </table>
      
  </aside>
  
  <article>
      <h4>A Pristine World of Care</h4>
      <p>Our team of over 7000 doctors join me in giving you the best of modern healthcare to ensure you stay healthy, always.</p>
      <p>We value your time and understand that you want the best of Pristine - but at your convenience.</p>
  
      <h3>WE DON'T JUST<br>
          TREAT HEART DISEASE.<br>
          WE REVERSE IT.</h3>
          <p>Even though we perform the most complex heart surgeries, we also know how to prevent them.</p>   
          <h4>India, let's #ActBeforeTheAttack. Introducing the Healthy Heart Program.</h4>
        <section>
             <h4>THE GOLD STANDARD OF HEALTH NOW IN NAVI MUMBAI</h4>
             <p>Pristine Hospitals is now Navi Mumbai’s First and only JCI Accredited Hospital</p>
      </section>
      <br><br><br>
</article> 

