.aside
{
    float: right;
    margin-right: 100px;
}

#wid {
    -moz-column-width: 100px;
    -webkit-column-width: 100px;
    column-width: 100px;
  }



#multicol 
{
    -moz-column-count: 4;
    -moz-columns: 4;
    -webkit-columns: 4;
    columns: 4;
  }

.multicol
{
    background-color: lightgrey;
    width: 90em;
    border: 5px solid green;
    padding: 10px;
    margin: 10px;
} 


